<ul class="nav nav-inline">
  <li class="nav-item nav-li">
    <%=
      link_to "Klienter",
      clients_path,
      class: current_page?(clients_path) || current_page?(authenticated_root_path) ?
        'nav-link active' :
        'nav-link'
    %>
  </li>
  <li class="nav-item nav-li">
    <%=
      link_to "Ärenden",
      lawsuits_path,
      class: current_page?(lawsuits_path) ?
        'nav-link active' :
        'nav-link'
    %>
  </li>
  <li class="nav-item nav-li">
    <%=
      link_to "Motparter",
      counterparts_path,
      class: current_page?(counterparts_path) ?
        'nav-link active' :
        'nav-link'
    %>
  </li>
  <li class="nav-item dropdown pull-xs-right">
    <button type="button" class="nav-link btn btn-secondary dropdown-toggle" data-toggle="dropdown"
       href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %>
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu">
      <%= link_to "Ändra mina uppgifter", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Logga ut", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
  <% if current_page?(clients_path) || current_page?(authenticated_root_path) %>
    <li class="nav-item pull-xs-right">
      <%= link_to "Lägg till klient", new_client_path, class: "nav-link btn btn-success" %>
    </li>
  <% end %>
</ul>
