<ul class="nav nav-inline">
  <li class="nav-item nav-li">
    <%= link_to authenticated_root_path, class: active_class?(authenticated_root_path) do %>
      <i class="fa fa-balance-scale"></i>  Ärenden
    <% end %>
  </li>
  <li class="nav-item nav-li">
    <%= link_to clients_path, class: active_class?(clients_path) do %>
      <i class="fa fa-users"></i> Klienter
    <% end %>
  </li>
  <li class="nav-item nav-li">
    <%= link_to counterparts_path, class: active_class?(counterparts_path) do %>
      <i class="fa fa-search"></i> Motparter
    <% end %>
  </li>
  <li class="nav-item dropdown pull-xs-right">
    <button type="button" class="nav-link btn btn-secondary dropdown-toggle" data-toggle="dropdown"
       href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu">
      <%= link_to "Ändra mina uppgifter", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Logga ut", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
  <% if current_page?(clients_path) %>
    <li class="nav-item pull-xs-right">
      <%= link_to "Lägg till klient", new_client_path, class: "nav-link btn btn-success" %>
    </li>
  <% end %>
</ul>
